

#ve72122 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#ve73306 .styleForTitle_span7 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve72122 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve73292 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve74814 .styleForTitle_span4 {
  font-weight: bold;
}
#ve73430 .styleForTitle_paragraph25 {
  text-align: center;
}
#ve73271 .ReportElementContainer {
  padding: 6px;
}
#ve73217 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73306 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73385 .ReportElementContainer {
  padding: 8px;
}
#ve73271 .GraphSkin {
  data-skin: MATTE;
}
#ve73306 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve73393 .styleForTitle_span17 {
  color: #ff8224;
  font-size: 10pt;
}
.Report {
  background-color: #012036;
}
#ve73320 .TipFill {
  fill-color: #012036;
}
#ve73271 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73278 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73299 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73299 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve73231 .GraphSkin {
  data-skin: MATTE;
}
#ve73400 .styleForTitle_span33 {
  color: #e67e22;
  font-size: 10pt;
}
#ve74686 .span2 {
  font-weight: bold;
}
#ve74686 .span1 {
  font-size: 28pt;
}
#ve73292 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve72202 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve74887 .Container {
  border-color: #F8F9FA;
  border-width: 2px;
}
#ve73255 .TipFill {
  fill-color: #012036;
}
#ve73248 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve74818 .Container {
  border-color: #F8F9FA;
  border-width: 2px;
}
#ve73400 .styleForTitle_span17 {
  color: #ff8224;
  font-size: 10pt;
}
#ve73338 .styleForTitle_span11 {
  color: #ff8224;
  font-size: 10pt;
}
#ve74718 .styleForTitle_paragraph10 {
  text-align: center;
}
#ve72222 .ReportElementContainer {
  padding: 2px;
}
#ve73255 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve73255 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73358 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#ve74788 .Container {
  border-color: #F8F9FA;
  border-width: 2px;
}
#ve73306 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73440 .MeasureHeader {
  color: #E9ECEF;
  font-size: 10pt;
}
#ve73313 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73224 .ReportElementContainer {
  padding: 6px;
}
#ve72115 .Container {
  background-color: #FFFFFF;
  transparency: 0.94;
}
#ve72210 .ComboBox {
  color: #DDDDDD;
  font-size: 10pt;
}
#ve72210 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve73393 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73320 .ReportElementContainer {
  padding: 6px;
}
#ve73306 .GraphSkin {
  data-skin: MATTE;
}
#ve74823 .span1 {
  font-size: 26pt;
}
#ve73239 .TipFill {
  fill-color: #012036;
}
#ve73440 .ReportElementContainer {
  padding: 9px;
}
#ve73313 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve74823 .span2 {
  font-weight: bold;
}
#ve72136 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve73231 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73248 .styleForTitle_span14 {
  color: #bdc3c7;
  font-size: 13.3333px;
}
#ve73231 .styleForTitle_span4 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73420 .TipFill {
  fill-color: #012036;
}
#ve73217 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73285 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve72145 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
}
#ve73241 .ReportElementContainer {
  padding: 2px;
}
#ve73440 .RowHeader {
  color: #E9ECEF;
  font-weight: normal;
}
#ve73285 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve73440 .CrosstabTotals {
  color: #B0B7C2;
}
#ve74725 .styleForTitle_paragraph10 {
  text-align: center;
}
#ve74823 .paragraph1 {
  text-align: center;
}
#ve73271 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73385 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73217 .TipFill {
  fill-color: #012036;
}
#ve73420 .styleForTitle_span16 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73349 .tableColumnbi27164 {
  width: 641px;
}
#ve73420 .GraphSkin {
  data-skin: CRISP;
}
#ve73430 .GraphSkin {
  data-skin: CRISP;
}
#ve72169 .TipFill {
  fill-color: #012036;
}
#ve72182 .ReportElementContainer {
  padding: 6px;
}
#ve72129 .styleForTitle_paragraph8 {
  text-align: center;
}
#ve73358 .TipFill {
  fill-color: #012036;
}
#ve73330 .ReportElementContainer {
  padding: 8px;
}
#ve72129 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#cd72536 .If {
  color: #005BA1;
}
#ve74704 .paragraph1 {
  text-align: center;
}
#ve73248 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73365 .Container {
  border-color: #82B41C;
  border-width: 1px;
}
#ve73285 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve72235 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
}
#ve73285 .styleForTitle_span1 {
  color: #bdc3c7;
  font-size: 13.3333px;
}
#ve73358 .styleForTitle_span9 {
  color: #ecf0f1;
  font-size: 12pt;
}
#ve72169 .GridLines {
  line-thickness: 1px;
  line-color: #2470AD;
}
#ve73278 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve72195 .GraphDataStyle3 {
  marker-color: #005BA1;
  text-color: #005BA1;
  fill-color: #005BA1;
  line-color: #005BA1;
}
#ve73239 .GraphSkin {
  data-skin: MATTE;
}
#ve72182 .GraphSkin {
  data-skin: CRISP;
}
.Other {
  fill-color: #9F9F9F;
}
#ve73278 .styleForTitle_paragraph8 {
  text-align: center;
}
#ve73299 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve72195 .GraphDataStyle2 {
  marker-color: #7DC3FC;
  text-color: #7DC3FC;
  fill-color: #466F90;
  line-color: #7DC3FC;
}
#ve72195 .GraphDataStyle1 {
  marker-color: #F8F9FA;
  text-color: #F8F9FA;
  fill-color: #7DC3FC;
  line-color: #F8F9FA;
}
#ve72195 .GraphSkin {
  data-skin: FLAT;
}
#ve73313 .ReportElementContainer {
  padding: 6px;
}
#ve73248 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73271 .styleForTitle_paragraph2 {
  text-align: center;
}
#cd72167 .If {
  color: #BCCBD7;
}
#ve72222 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
}
#ve72182 .TipFill {
  fill-color: #012036;
}
#ve72122 .ReportElementContainer {
  padding: 16px;
}
#ve72129 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
}
#ve72202 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
}
#ve72242 .ReportElementContainer {
  padding: 0px;
}
#ve72235 .span45 {
  color: #43d09d;
}
#ve72202 .ReportElementContainer {
  padding: 2px;
}
#ve72235 .span44 {
  font-size: 26pt;
}
#ve72235 .ReportElementContainer {
  padding: 20px;
}
#ve73262 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73262 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve72156 .Header {
  color: #DDDDDD;
  font-size: 10pt;
  text-align: left;
}
#ve73299 .GraphSkin {
  data-skin: MATTE;
}
#ve74741 .Container {
  border-color: #F8F9FA;
  border-width: 2px;
}
#ve73239 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73292 .styleForTitle_span6 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73262 .GraphSkin {
  data-skin: MATTE;
}
#ve73408 .styleForTitle_span17 {
  color: #ff8224;
  font-size: 10pt;
}
#ve72115 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#ve73262 .ReportElementContainer {
  padding: 6px;
}
.GraphDataStyle3 {
  fill-color: #008DD7;
}
#ve73255 .GraphSkin {
  data-skin: MATTE;
}
.GraphDataStyle4 {
  fill-color: #00A0EB;
}
#ve73330 .styleForTitle_span21 {
  color: #ff8224;
  font-size: 10pt;
}
.GraphDataStyle5 {
  fill-color: #00AEFA;
}
#ve73264 .styleForTitle_paragraph10 {
  text-align: center;
}
#ve73393 .styleForTitle_span32 {
  color: #e67e22;
  font-size: 10pt;
}
.GraphDataStyle6 {
  fill-color: #29BBFB;
}
#ve73292 .styleForTitle_span2 {
  font-size: 8pt;
}
.GraphDataStyle1 {
  fill-color: #005BA1;
}
#ve73278 .styleForTitle_span8 {
  color: #bdc3c7;
  font-size: 13.3333px;
}
.GraphDataStyle2 {
  fill-color: #007DC3;
}
#ve74693 .ButtonBar {
  font-size: 13pt;
}
#ve73241 .styleForTitle_paragraph11 {
  text-align: center;
}
#ve72222 .styleForTitle_span12 {
  color: #e67e22;
  font-size: 10pt;
}
#ve73278 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73338 .ComboBox {
  background-color: #012036;
  color: #BDC3C7;
  font-size: 10pt;
}
#ve73217 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73248 .TipFill {
  fill-color: #012036;
}
#ve73264 .ReportElementContainer {
  padding: 2px;
}
#ve73255 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73285 .TipFill {
  fill-color: #012036;
}
#ve72129 .TipFill {
  fill-color: #012036;
}
#ve72122 .Container {
  background-color: #FFFFFF;
  transparency: 0.94;
}
#cd72180 .If {
  color: #466F90;
}
#ve73224 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73271 .styleForTitle_span15 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve72169 .TipText {
  font-size: 10pt;
  text-color: #7DC3FC;
}
#ve73285 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
.GraphDataStyle7 {
  fill-color: #50C7FB;
}
#ve73248 .GraphSkin {
  data-skin: MATTE;
}
#ve73255 .styleForTitle_span3 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73330 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73278 .ReportElementContainer {
  padding: 6px;
}
#ve74793 .span2 {
  font-weight: bold;
}
#ve72122 .TipFill {
  fill-color: #012036;
}
#ve72136 .styleForTitle_span2 {
  color: #dddddd;
  font-size: 10pt;
}
#ve72222 .Slider {
  color: #DDDDDD;
  font-size: 9pt;
}
#ve73217 .GraphSkin {
  data-skin: MATTE;
}
#ve73393 .ReportElementContainer {
  padding: 8px;
}
#ve73445 .Container {
  background-color: #029397;
  transparency: 0.5;
}
#ve72129 .styleForTitle_span5 {
  color: #dddddd;
  font-size: 10pt;
}
#cd72191 .If {
  color: #466F90;
}
#ve74746 .span1 {
  font-size: 26pt;
}
#ve73365 .styleForTitle_span22 {
  color: #82b41c;
  font-size: 12pt;
}
#ve74793 .span1 {
  font-size: 26pt;
}
#ve73338 .ReportElementContainer {
  padding: 8px;
}
#ve73264 .Container {
  background-color: #04304B;
  transparency: 0;
}
#ve72202 .styleForTitle_span8 {
  color: #e67e22;
  font-size: 10pt;
}
#ve74746 .span2 {
  font-weight: bold;
}
#ve72122 .styleForTitle_span1 {
  color: #dddddd;
  font-size: 10pt;
}
#ve73349 .styleForTitle_span10 {
  color: #27ae60;
}
#ve73440 .measurebi26854 {
  width: 85px;
}
#ve72115 .styleForTitle_span3 {
  color: #dddddd;
  font-size: 13.3333px;
}
#ve73231 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73320 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73255 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73408 .ComboBox {
  background-color: #012036;
  color: #B0B7C2;
  font-size: 10pt;
}
#ve73224 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73393 .ComboBox {
  background-color: #012036;
  color: #B0B7C2;
  font-size: 10pt;
}
#ve72210 .ReportElementContainer {
  padding: 2px;
}
#ve73420 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve74889 .ReportElementContainer {
  padding: 32px;
}
#ve73400 .Container {
  background-color: #012036;
  transparency: 0;
}
#vi72244 .ReportPagePadding {
  padding: 0px;
}
#ve73224 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve73378 .Slider {
  color: #FF8224;
}
#ve72115 .TipFill {
  fill-color: #012036;
}
#ve73385 .ComboBox {
  background-color: #012036;
  color: #BDC3C7;
  font-size: 10pt;
}
#ve72182 .LegendFill {
  transparency: 0;
  fill-color: #012036;
  frame-border: false;
}
#ve73224 .styleForTitle_span6 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73231 .ReportElementContainer {
  padding: 6px;
}
#ve73292 .TipFill {
  fill-color: #012036;
}
#ve72197 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73306 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
.GraphDataStyleDefault {
  fill-color: #005BA1;
}
#ve73262 .styleForTitle_span5 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73367 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73262 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73430 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve74704 .span2 {
  font-weight: bold;
}
#ve73224 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve74704 .span1 {
  font-size: 26pt;
}
#ve73202 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73202 .Slider {
  color: #FF8224;
  font-size: 10pt;
}
#ve73278 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve73262 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve74803 .styleForTitle_span7 {
  font-weight: bold;
}
#cd72514 .If {
  color: #005BA1;
}
#ve73224 .GraphSkin {
  data-skin: MATTE;
}
#ve73248 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73400 .ReportElementContainer {
  padding: 8px;
}
#ve73262 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73313 .styleForTitle_span18 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve74711 .styleForTitle_paragraph9 {
  text-align: center;
}
#ve73231 .TipFill {
  fill-color: #012036;
}
#ve73313 .GraphSkin {
  data-skin: MATTE;
}
#ve73231 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73349 .Table {
  row-color: #012036;
  color: #E9ECEF;
  font-size: 10pt;
  alt-row-color: #012036;
}
#ve73241 .Container {
  background-color: #04304B;
  transparency: 0;
}
#ve73299 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve72156 .Table {
  color: #DDDDDD;
  font-size: 10pt;
}
#cd72178 .If {
  color: #BCCBD7;
}
#ve73367 .ReportElementContainer {
  padding: 0px;
}
#ve74803 .TipText {
  font-size: 14pt;
}
#ve73271 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve73299 .styleForTitle_span4 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73210 .styleForTitle_span23 {
  color: #ff8224;
  font-size: 10pt;
}
#ve73239 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve73385 .styleForTitle_span11 {
  color: #ff8224;
  font-size: 10pt;
}
#ve73313 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73255 .ReportElementContainer {
  padding: 8px;
}
#ve73239 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73430 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#cd72538 .If {
  color: #005BA1;
}
#ve73420 .styleForTitle_paragraph15 {
  text-align: center;
}
#ve72235 .paragraph9 {
  text-align: center;
}
#ve73338 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73440 .Table {
  color: #B0B7C2;
}
#ve72169 .GraphSkin {
  data-skin: CRISP;
}
#ve72156 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
  border-color: #102D42;
  border-width: 1px;
}
#ve73430 .styleForTitle_span29 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve73224 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73239 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73299 .TipFill {
  fill-color: #012036;
}
#ve73239 .styleForTitle_span7 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve72136 .Container {
  background-color: #FFFFFF;
  transparency: 0.94;
}
#ve72182 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#ve73306 .TipFill {
  fill-color: #012036;
}
#ve73408 .styleForTitle_span34 {
  color: #e67e22;
  font-size: 10pt;
}
#ve73306 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve74746 .paragraph1 {
  text-align: center;
}
:root {
  --custom-color-6: var(--report-background-color);
  --custom-color-2: color-mod(var(--custom-color-1) lightness(+ 40%));
  --custom-color-3: color-mod(var(--custom-color-1) lightness(- 20%));
  --custom-color-4: var(--report-neutral-color);
  --custom-color-5: #FFFFFF;
  --custom-color-1: var(--report-data-color-6);
}
#ve72145 .TipFill {
  fill-color: #012036;
}
#ve72210 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
}
#ve73217 .styleForTitle_paragraph19 {
  text-align: center;
}
#ve73271 .TipFill {
  fill-color: #012036;
}
#ve73262 .TipFill {
  fill-color: #012036;
}
#ve72169 .GraphDataStyle3 {
  fill-color: #005BA1;
}
#ve74737 .styleForTitle_span1 {
  font-weight: bold;
}
#ve72169 .GraphDataStyle2 {
  fill-color: #466F90;
}
#ve72222 .styleForTitle_paragraph10 {
  text-align: center;
}
#ve72169 .GraphDataStyle5 {
  fill-color: #7DC3FC;
}
#ve72169 .GraphDataStyle4 {
  fill-color: #466F90;
}
#ve72169 .LegendFill {
  transparency: 0;
}
#ve73320 .styleForTitle_span5 {
  color: #bdc3c7;
  font-size: 10pt;
}
#ve72169 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve73320 .styleForTitle_span2 {
  font-size: 8pt;
}
#ve73239 .ReportElementContainer {
  padding: 6px;
}
#ve74885 .styleForTitle_span8 {
  font-weight: bold;
}
#ve73365 .ReportElementContainer {
  padding: 4px;
}
#ve73408 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve72145 .ReportElementContainer {
  padding: 0px;
}
#ve73358 .GraphSkin {
  data-skin: CRISP;
}
#ve73440 .ColumnHeader {
  color: #E9ECEF;
}
#ve74718 .styleForTitle_span6 {
  font-weight: bold;
  font-size: 20pt;
}
#cd72193 .If {
  color: #BCCBD7;
}
#ve74784 .styleForTitle_span2 {
  font-weight: bold;
}
#ve73248 .styleForTitle_paragraph12 {
  text-align: center;
}
#ve73299 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73217 .styleForTitle_span20 {
  color: #bdc3c7;
  font-size: 13.3333px;
}
#ve73292 .ReportElementContainer {
  padding: 6px;
}
#ve73306 .ReportElementContainer {
  padding: 6px;
}
#ve73239 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73322 .Container {
  background-color: #011E33;
  transparency: 0;
}
#ve72199 .Container {
  background-color: #F8F9FA;
  transparency: 0.94;
  border-color: #102D42;
  border-width: 2px;
}
#ve73358 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve73378 .styleForTitle_span19 {
  color: #ff8224;
  font-size: 10pt;
}
#ve73210 .ButtonBar {
  color: #FF8224;
  font-size: 10pt;
}
#ve73264 .styleForTitle_span12 {
  color: #82b41c;
  font-size: 12pt;
}
#ve73408 .ReportElementContainer {
  padding: 8px;
}
#ve72156 .ReportElementContainer {
  padding: 2px;
}
#ve73313 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve72136 .TipFill {
  fill-color: #012036;
}
#ve73285 .ReportElementContainer {
  padding: 6px;
}
#ve73365 .span39 {
  font-size: 12pt;
}
#ve73320 .styleForTitle_paragraph5 {
  text-align: center;
}
#cd72165 .If {
  color: #466F90;
}
#ve73292 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve73320 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73349 .Container {
  background-color: #012036;
  transparency: 0;
}
#ve74875 .styleForTitle_span9 {
  font-weight: bold;
}
#ve73210 .styleForTitle_paragraph9 {
  text-align: center;
}
#ve73271 .styleForTitle_paragraph14 {
  text-align: center;
}
#ve73278 .TipFill {
  fill-color: #012036;
}
#ve73231 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve73217 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73255 .TipText {
  font-size: 8pt;
  text-color: #E9ECEF;
}
#ve72115 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve72182 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve72182 .GridLines {
  line-thickness: 1px;
  line-color: #2470AD;
}
#ve73241 .styleForTitle_span13 {
  color: #82b41c;
  font-size: 12pt;
}
#ve73231 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve73358 .styleForTitle_paragraph13 {
  text-align: center;
}
#ve72182 .GraphDataStyle2 {
  fill-color: #466F90;
}
#ve72195 .GridLines {
  line-color: #2470AD;
}
#ve72182 .GraphDataStyle1 {
  fill-color: #7DC3FC;
}
#ve73313 .styleForTitle_paragraph17 {
  text-align: center;
}
#ve74772 .styleForTitle_span3 {
  font-weight: bold;
}
#ve72195 .LegendFill {
  transparency: 0.94;
  fill-color: #F8F9FA;
}
#ve72210 .styleForTitle_span4 {
  color: #ff8324;
  font-weight: bold;
  font-size: 10pt;
}
#ve72182 .GraphDataStyle3 {
  fill-color: #005BA1;
}
#ve72210 .styleForTitle_span9 {
  color: #e67e22;
  font-size: 10pt;
}
#ve73278 .GraphSkin {
  data-skin: MATTE;
}
#ve73360 .Container {
  background-color: #029397;
  transparency: 0.5;
}
#ve72145 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#ve72156 .styleForTitle_span11 {
  font-weight: bold;
  font-size: 12pt;
}
#ve73292 .GraphSkin {
  data-skin: MATTE;
}
#ve73292 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve73400 .ComboBox {
  background-color: #012036;
  color: #B0B7C2;
  font-size: 10pt;
}
#ve73313 .TipFill {
  fill-color: #012036;
}
#ve72202 .TextInput {
  color: #DDDDDD;
  font-size: 10pt;
}
#ve74711 .styleForTitle_span5 {
  font-weight: bold;
  font-size: 20pt;
}
#ve73217 .ReportElementContainer {
  padding: 6px;
}
#ve73320 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve73224 .TipFill {
  fill-color: #012036;
}
#ve74725 .styleForTitle_span6 {
  font-weight: bold;
  font-size: 20pt;
}
#ve74793 .paragraph1 {
  text-align: center;
}
#ve73248 .ReportElementContainer {
  padding: 6px;
}
#ve73285 .Container {
  background-color: #E9ECEF;
  transparency: 0.95;
}
#ve73320 .GraphSkin {
  data-skin: MATTE;
}
#ve73365 .span23 {
  color: #dddddd;
}
#ve73420 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#ve73349 .Header {
  color: #E9ECEF;
  font-size: 10pt;
  text-align: left;
}
#ve72136 .TipText {
  font-size: 10pt;
  text-color: #E9ECEF;
}
#ve73430 .TipFill {
  fill-color: #012036;
}
#ve72195 .GraphDataStyleDefault {
  marker-color: #F8F9FA;
  text-color: #F8F9FA;
  fill-color: #7DC3FC;
  line-color: #F8F9FA;
}
#ve72169 .GraphDataStyleDefault {
  fill-color: #7DC3FC;
}
#ve73299 .ReportElementContainer {
  padding: 6px;
}
#ve73285 .GraphSkin {
  data-skin: MATTE;
}
#ve73330 .ComboBox {
  background-color: #012036;
  color: #BDC3C7;
  font-size: 10pt;
}

			