#ve6721 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve7087 .ReportElementContainer {
  padding : 0px;
}
#ve2091 .Container {
  transparency : 0;
  background-color : #FEE881;
}
#ve2091 .span69 {
  font-weight : bold;
}
#ve6640 .TipText {
  font-size : 8pt;
}
#ve6685 .TipFill {
  fill-color : #FCDD7C;
}
#ve7140 .TipFill {
  fill-color : #FCDD7C;
}
#ve6492 .styleForTitle_paragraph34 {
  text-align : center;
}
#ve6598 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7037 .Container {
  border-color : #FFFFFF;
  border-width : 0px;
}
#ve6646 .ReportElementContainer {
  padding : 8px;
}
#ve6526 .LegendFill {
  frame-border : false;
}
#ve6584 .ReportElementContainer {
  padding : 18px;
}
#ve6725 .ReportElementContainer {
  padding : 0px;
}
#ve7037 .GraphDataStyleDefault {
  fill-color : #E89B25;
}
#ve6548 .styleForTitle_span6 {
  color : #082948;
  font-weight : bold;
}
#ve6973 .span208 {
  font-size : 10pt;
}
#ve6640 .LegendFill {
  frame-border : false;
}
#ve5792 .styleForTitle_paragraph8 {
  text-align : center;
}
#ve6614 .tableColumnbi3066 {
  fill-color : #579CD5;
}
#ve1886 .span192 {
  font-size : 14pt;
}
#ve7180 .Container {
  transparency : 0;
  background-color : #FFEF97;
}
#ve1886 .span191 {
  color : #4cc3c7;
}
#ve7223 .ReportElementContainer {
  padding : 4px;
}
#ve1886 .span193 {
  font-size : 12pt;
}
#ve7201 .ReportElementContainer {
  padding : 0px;
}
#ve6528 .ReportElementContainer {
  padding : 18px;
}
#ve6598 .styleForTitle_span15 {
  color : #042c49;
  font-weight : bold;
  font-size : 12pt;
}
#ve6981 .LegendFill {
  frame-border : false;
}
#ve7145 .span179 {
  font-size : 10pt;
}
#ve7101 .ReportElementContainer {
  padding : 8px;
}
#ve6987 .ReportElementContainer {
  padding : 8px;
}
#ve7206 .ReportElementContainer {
  padding : 0px;
}
#ve6588 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve6532 .ReportElementContainer {
  padding : 8px;
}
#ve6507 .ReportElementContainer {
  padding : 6px;
}
#ve7043 .ReportElementContainer {
  padding : 8px;
}
#ve7069 .styleForTitle_span16 {
  color : #042c49;
  font-weight : bold;
  font-size : 12pt;
}
#ve6548 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6685 .TipText {
  font-size : 11pt;
}
#ve7095 .GraphDataStyle1 {
  fill-color : #E89B25;
}
#ve7155 .styleForTitle_span9 {
  color : #082948;
  font-weight : bold;
  font-size : 12pt;
}
#ve6537 .ReportElementContainer {
  padding : 0px;
}
#ve6947 .styleForTitle_paragraph34 {
  text-align : center;
}
#ve2083 .ReportElementContainer {
  padding : 0px;
}
#ve7029 .span200 {
  font-size : 10pt;
}
#ve7029 .span201 {
  font-size : 10pt;
}
#ve6660 .span289 {
  font-size : 14pt;
}
#ve6507 .styleForTitle_span5 {
  color : #082948;
  font-weight : bold;
}
.Other {
  fill-color : #747474;
}
#ve6675 .span93 {
  font-size : 10pt;
}
#ve6675 .span94 {
  color : #3498db;
}
#ve6675 .span91 {
  font-size : 12pt;
}
#ve6700 .styleForTitle_span3 {
  color : #082948;
  font-weight : bold;
  font-size : 12pt;
}
#ve6675 .span92 {
  font-size : 14pt;
}
#ve7099 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6603 .ReportElementContainer {
  padding : 0px;
}
#ve6936 .span98 {
  font-size : 12pt;
}
#ve6936 .span97 {
  color : #082948;
}
#ve6936 .span96 {
  font-weight : bold;
}
#ve6936 .span95 {
  font-size : 14pt;
}
#ve6582 .GraphDataStyle1 {
  fill-color : #E89B25;
}
#ve6548 .styleForTitle_paragraph6 {
  text-align : center;
}
#ve6561 .Container {
  transparency : 0;
  background-color : #FEE881;
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7029 .span209 {
  font-size : 10pt;
}
#ve6507 .GraphSkin {
  data-skin : FLAT;
}
#ve6548 .GraphDataStyle1 {
  fill-color : #C7E3F9;
}
#ve6632 .ReportElementContainer {
  padding : 0px;
}
#ve7105 .ReportElementContainer {
  padding : 0px;
}
#ve6981 .Container {
  border-color : #FFFFFF;
  border-width : 0px;
}
#ve6548 .GraphDataStyle2 {
  fill-color : #579CD5;
}
#ve7069 .tableColumnbi7899 {
  fill-color : #579CD5;
}
#ve6675 .span88 {
  font-size : 16pt;
}
#ve6675 .span89 {
  color : #082948;
}
#ve6675 .span86 {
  font-size : 24pt;
}
#ve6675 .span87 {
  color : #f172ac;
}
#ve6507 .LegendFill {
  transparency : 1;
}
#ve6675 .span90 {
  font-weight : bold;
}
#ve6685 .styleForTitle_paragraph2 {
  text-align : center;
}
#ve5792 .styleForTitle_span8 {
  font-weight : bold;
  font-size : 12pt;
}
#ve2091 .span149 {
  color : #3498db;
}
#ve6640 .ReportElementContainer {
  padding : 6px;
}
#ve6981 .GraphSkin {
  data-skin : PRESSED;
}
#ve7024 .span9 {
  font-size : 14pt;
}
#ve7130 .span109 {
  font-size : 12pt;
}
#ve7130 .span108 {
  color : #000000;
}
#ve7082 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7087 .span180 {
  font-size : 10pt;
}
#ve7095 .Container {
  border-color : #FFFFFF;
  border-width : 0px;
}
#ve6660 .span269 {
  font-weight : bold;
}
#ve6660 .span268 {
  color : #082948;
}
#ve6947 .Header {
  background-color : #FEE881;
}
#ve7130 .span107 {
  font-weight : bold;
}
#ve7199 .Container {
  transparency : 0;
  background-color : #FEE881;
}
#ve7130 .span106 {
  color : #082948;
}
#ve6685 .ReportElementContainer {
  padding : 0px;
}
#ve6660 .span272 {
  font-weight : bold;
}
#ve6660 .span271 {
  font-size : 14pt;
}
#ve6660 .span273 {
  font-style : italic;
}
#ve6660 .span270 {
  font-style : italic;
}
#ve7029 .span210 {
  font-size : 10pt;
}
#ve6526 .GraphDataStyleDefault {
  fill-color : #E89B25;
}
#ve7003 .styleForTitle_paragraph6 {
  text-align : center;
}
#ve7140 .ReportElementContainer {
  padding : 0px;
}
#ve5792 .TipText {
  font-size : 11pt;
}
#ve6598 .styleForTitle_span4 {
  color : #082948;
  font-weight : bold;
  font-size : 12pt;
}
#ve6513 .span160 {
  color : #082948;
}
#ve2081 .span54 {
  color : #082948;
}
#ve6598 .GraphDataStyle1 {
  text-color : #3D4550;
  fill-color : #C7E3F9;
  line-color : #3D4550;
  marker-color : #3D4550;
}
#ve6598 .GraphDataStyle2 {
  text-color : #2B5E9E;
  fill-color : #579CD5;
  line-color : #2B5E9E;
  marker-color : #2B5E9E;
}
#ve6507 .TipFill {
  fill-color : #FCDD7C;
}
#ve6947 .Table {
  alt-row-color : #FEE881;
  color : #082948;
  vertical-line-style : none;
  horizontal-line-style : solid;
  font-size : 12pt;
  row-color : #FEE881;
}
#ve5792 .TipFill {
  fill-color : #FCDD7C;
}
#ve7082 .span182 {
  color : #082948;
}
#ve7082 .span183 {
  font-weight : bold;
}
#ve7082 .span181 {
  font-size : 12pt;
}
#ve6712 .span237 {
  font-weight : bold;
}
#ve6983 .ReportElementContainer {
  padding : 18px;
}
#ve6712 .span235 {
  font-size : 12pt;
}
#ve6712 .span236 {
  color : #082948;
}
#ve7003 .LegendFill {
  transparency : 1;
}
#ve5792 .LegendFill {
  transparency : 1;
}
#ve2076 .ReportElementContainer {
  padding : 0px;
}
#ve6548 .TipText {
  font-size : 11pt;
}
#ve7069 .ReportElementContainer {
  padding : 0px;
}
#ve6712 .span230 {
  color : #3498db;
}
#ve6981 .GraphDataStyleDefault {
  fill-color : #E89B25;
}
#ve6712 .span233 {
  font-weight : bold;
}
#ve6712 .span234 {
  color : #3498db;
}
#ve6712 .span231 {
  font-size : 12pt;
}
#ve6712 .span232 {
  color : #082948;
}
#ve6962 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7130 .span110 {
  font-size : 14pt;
}
#ve6640 .GraphDataStyle1 {
  fill-color : #E89B25;
}
#ve7024 .span127 {
  font-size : 10pt;
}
#ve7140 .styleForTitle_paragraph7 {
  text-align : center;
}
#ve7024 .span126 {
  font-weight : bold;
}
#ve7024 .span129 {
  color : #3498db;
}
#ve7024 .span128 {
  color : #082948;
}
#ve6574 .ReportElementContainer {
  padding : 0px;
}
#ve7130 .span99 {
  font-size : 14pt;
}
#ve6660 .paragraph30 {
  text-align : right;
}
#ve6962 .styleForTitle_span5 {
  color : #082948;
  font-weight : bold;
}
#ve1995 .ReportElementContainer {
  padding : 8px;
}
#ve7024 .span125 {
  color : #082948;
}
#ve7039 .ReportElementContainer {
  padding : 18px;
}
#ve7130 .span111 {
  font-size : 10pt;
}
#ve6561 .ReportElementContainer {
  padding : 0px;
}
#ve7130 .span261 {
  color : #3498db;
}
#ve7167 .span262 {
  color : #000000;
}
#ve7167 .span263 {
  font-style : italic;
}
#ve6548 .TipFill {
  fill-color : #FCDD7C;
}
#ve1886 .span141 {
  font-weight : bold;
}
#ve7167 .span260 {
  color : #000000;
}
#ve7077 .span186 {
  font-weight : bold;
}
#ve7077 .span187 {
  font-size : 10pt;
}
#ve6640 .GraphSkin {
  data-skin : PRESSED;
}
#ve7077 .span188 {
  color : #082948;
}
#ve1886 .span11 {
  color : #f172ac;
}
#ve7077 .span189 {
  color : #3498db;
}
#ve7077 .span184 {
  font-size : 14pt;
}
#ve6936 .ReportElementContainer {
  padding : 0px;
}
#ve7077 .span185 {
  color : #082948;
}
#ve7069 .Table {
  alt-row-color : #FEE881;
  color : #082948;
  vertical-line-style : none;
  horizontal-line-style : solid;
  font-size : 12pt;
  row-color : #FEE881;
}
#ve2083 .Container {
  transparency : 0;
  background-color : #FFEF97;
}
#ve6992 .span114 {
  font-weight : bold;
}
#ve6992 .span115 {
  font-size : 12pt;
}
#ve6992 .span112 {
  color : #082948;
}
#ve6992 .span113 {
  font-size : 14pt;
}
#ve7167 .span152 {
  color : #579cd5;
}
#ve7167 .span153 {
  color : #000000;
}
#ve6548 .GraphSkin {
  data-skin : FLAT;
}
#ve6586 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve1886 .span17 {
  font-weight : bold;
}
#ve6507 .GraphDataStyleDefault {
  fill-color : #C7E3F9;
}
#ve6598 .ReportElementContainer {
  padding : 0px;
}
#ve6987 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve2081 .span53 {
  font-size : 28pt;
}
#ve2091 .span123 {
  color : #3498db;
}
#ve1886 .span13 {
  color : #082948;
}
#ve6962 .TipFill {
  fill-color : #FCDD7C;
}
#ve2081 .span52 {
  font-weight : bold;
}
#ve2091 .span124 {
  font-weight : bold;
}
#ve1886 .span12 {
  color : #082948;
}
#ve2091 .span121 {
  color : #3498db;
}
#ve2091 .span122 {
  color : #3498db;
}
#ve1886 .span14 {
  font-size : 12pt;
}
#ve6650 .ReportElementContainer {
  padding : 0px;
}
#ve7029 .span169 {
  font-size : 10pt;
}
#ve6614 .Header {
  background-color : #FEE881;
}
#ve6644 .ReportElementContainer {
  padding : 0px;
}
#ve6530 .ReportElementContainer {
  padding : 0px;
}
#ve7077 .span190 {
  color : #3498db;
}
#ve6690 .span10 {
  font-size : 10pt;
}
#ve2091 .ReportElementContainer {
  padding : 10px;
}
#ve6481 .span300 {
  color : #082948;
}
#ve7016 .Container {
  transparency : 0;
  background-color : #FEE881;
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6481 .span301 {
  font-size : 12pt;
}
#ve7003 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6646 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve7167 .span120 {
  color : #000000;
}
#ve7069 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7167 .span243 {
  color : #579cd5;
}
#ve7162 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve6561 .tableColumnbi1122 {
  fill-color : #579CD5;
}
#ve1886 .span145 {
  font-size : 20pt;
}
#ve6947 .tableColumnbi8048 {
  fill-color : #579CD5;
}
#ve1886 .span144 {
  font-size : 14pt;
}
#ve1886 .span143 {
  color : #f172ac;
}
#ve1886 .span142 {
  font-size : 20pt;
}
#ve6548 .LegendFill {
  transparency : 1;
}
#ve1886 .span148 {
  color : #579cd5;
}
#ve6537 .span105 {
  font-size : 16pt;
}
#ve1886 .span147 {
  font-size : 14pt;
}
#ve6537 .span104 {
  font-size : 28pt;
}
#ve1886 .span146 {
  color : #579cd5;
}
#ve6537 .span103 {
  color : #f172ac;
}
#ve7003 .GraphDataStyle2 {
  fill-color : #579CD5;
}
#ve7174 .span171 {
  font-size : 14pt;
}
#ve7167 .span259 {
  color : #579cd5;
}
#ve6725 .Container {
  transparency : 0;
  background-color : #FFEF97;
}
#ve5792 .GraphDataStyleDefault {
  fill-color : #C7E3F9;
}
#ve7003 .GraphDataStyle1 {
  fill-color : #C7E3F9;
}
#ve7174 .span172 {
  font-weight : bold;
}
#ve7167 .span258 {
  color : #000000;
}
#ve7174 .span170 {
  color : #082948;
}
#ve7174 .span175 {
  font-size : 12pt;
}
#ve7140 .styleForTitle_span7 {
  color : #082948;
  font-weight : bold;
  font-size : 12pt;
}
#ve7174 .span176 {
  color : #000000;
}
#ve7174 .span173 {
  color : #000000;
}
#ve7174 .span174 {
  font-size : 12pt;
}
#ve7174 .span177 {
  color : #000000;
}
#ve7174 .span178 {
  font-size : 12pt;
}
#ve6712 .span206 {
  font-size : 14pt;
}
#ve7167 .span257 {
  color : #579cd5;
}
#ve6712 .span207 {
  color : #082948;
}
#ve7167 .span256 {
  color : #000000;
}
#ve6614 .Table {
  alt-row-color : #FEE881;
  color : #082948;
  vertical-line-style : none;
  horizontal-line-style : solid;
  font-size : 12pt;
  row-color : #FEE881;
}
#ve7155 .TipText {
  font-size : 11pt;
}
#ve6518 .ReportElementContainer {
  padding : 0px;
}
#ve6481 .ReportElementContainer {
  padding : 0px;
}
#ve6598 .styleForTitle_paragraph4 {
  text-align : center;
}
#ve7037 .Pie {
  donut : false;
}
#ve6586 .ReportElementContainer {
  padding : 0px;
}
#ve7097 .ReportElementContainer {
  padding : 18px;
}
#ve7110 .span240 {
  font-size : 28pt;
}
#ve7169 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve7110 .span241 {
  font-weight : bold;
}
#ve7110 .span242 {
  color : #082948;
}
#ve6712 .span215 {
  font-size : 12pt;
}
#ve6712 .span216 {
  font-size : 12pt;
}
#ve6582 .LegendFill {
  frame-border : false;
}
#ve6712 .span213 {
  font-size : 12pt;
}
#ve6712 .span214 {
  color : #082948;
}
#ve6507 .TipText {
  font-size : 11pt;
}
#ve6712 .span219 {
  font-size : 12pt;
}
#ve6973 .ReportElementContainer {
  padding : 0px;
}
#ve6712 .span217 {
  color : #3498db;
}
#ve6712 .span218 {
  font-size : 14pt;
}
#ve7217 .Container {
  transparency : 0;
  background-color : #FFEF97;
}
#ve6712 .span211 {
  font-weight : bold;
}
#ve6712 .span212 {
  color : #082948;
}
#ve7069 .styleForTitle_paragraph24 {
  text-align : center;
}
#ve5792 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6962 .GraphDataStyleDefault {
  fill-color : #C7E3F9;
}
#ve1886 .span167 {
  font-size : 20pt;
}
#ve6513 .span150 {
  font-size : 14pt;
}
#ve6513 .span151 {
  color : #082948;
}
#ve7043 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve7167 .span116 {
  color : #082948;
}
#ve7115 .ReportElementContainer {
  padding : 6px;
}
#ve6513 .span158 {
  font-weight : bold;
}
#ve6513 .span159 {
  font-size : 10pt;
}
#ve7167 .span118 {
  font-weight : bold;
}
#ve7167 .span239 {
  color : #000000;
}
#ve7167 .span117 {
  font-size : 14pt;
}
#ve7167 .span238 {
  color : #579cd5;
}
#ve7167 .span119 {
  color : #000000;
}
#ve6507 .styleForTitle_paragraph5 {
  text-align : center;
}
#ve7155 .ReportElementContainer {
  padding : 0px;
}
#ve6712 .span226 {
  color : #3498db;
}
#ve6712 .span227 {
  font-size : 12pt;
}
#ve6712 .span224 {
  color : #082948;
}
#ve6712 .span225 {
  font-weight : bold;
}
#ve6712 .span228 {
  color : #082948;
}
#ve6712 .span229 {
  font-weight : bold;
}
#ve6712 .span222 {
  color : #3498db;
}
#ve6712 .span223 {
  font-size : 12pt;
}
#ve6712 .span220 {
  color : #082948;
}
#ve6712 .span221 {
  font-weight : bold;
}
#ve1886 .span64 {
  color : #082948;
}
#ve1886 .span63 {
  color : #f172ac;
}
#ve1886 .span66 {
  font-weight : bold;
}
#ve7087 .span203 {
  font-size : 10pt;
}
#ve1886 .span65 {
  font-size : 16pt;
}
#ve7087 .span202 {
  font-weight : bold;
}
#ve7115 .span289 {
  font-size : 14pt;
}
#ve1886 .span60 {
  font-size : 12pt;
}
#ve7087 .span205 {
  font-size : 10pt;
}
#ve7087 .span204 {
  font-size : 10pt;
}
#ve1886 .span62 {
  font-size : 18pt;
}
#ve1886 .span61 {
  color : #3498db;
}
#ve6707 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve6537 .span279 {
  font-size : 12pt;
}
#ve6537 .span278 {
  color : #082948;
}
#ve6537 .span277 {
  font-weight : bold;
}
#ve6492 .Header {
  background-color : #FEE881;
}
#ve1886 .Container {
  transparency : 0;
  background-color : #FEE881;
}
#ve7095 .Pie {
  donut : false;
}
#ve5792 .GraphSkin {
  data-skin : FLAT;
}
#ve7155 .TipFill {
  fill-color : #FCDD7C;
}
#ve7041 .ReportElementContainer {
  padding : 0px;
}
#ve7120 .ReportElementContainer {
  padding : 4px;
}
#ve1886 .span68 {
  font-style : italic;
}
#ve6962 .GraphSkin {
  data-skin : FLAT;
}
#ve1886 .span67 {
  color : #3498db;
}
#ve1886 .span75 {
  font-size : 12pt;
}
#ve7058 .span156 {
  font-weight : bold;
}
#ve1886 .span74 {
  font-weight : bold;
}
#ve7058 .span157 {
  font-size : 12pt;
}
#ve7024 .ReportElementContainer {
  padding : 0px;
}
#ve1886 .span77 {
  font-style : italic;
}
#ve1886 .span76 {
  color : #3498db;
}
#ve7037 .TipText {
  font-size : 8pt;
}
#ve1886 .span71 {
  font-size : 18pt;
}
#ve6532 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve7206 .span54 {
  color : #082948;
}
#ve1886 .span70 {
  color : #3498db;
}
#ve7206 .span53 {
  font-size : 28pt;
}
#ve1886 .span73 {
  color : #082948;
}
#ve7058 .span154 {
  color : #082948;
}
#ve6526 .ReportElementContainer {
  padding : 6px;
}
#ve7037 .GraphDataStyle1 {
  fill-color : #E89B25;
}
#ve7206 .span52 {
  font-weight : bold;
}
#ve1886 .span72 {
  color : #579cd5;
}
#ve7058 .span155 {
  font-size : 14pt;
}
#ve7003 .GraphDataStyleDefault {
  fill-color : #C7E3F9;
}
#ve6569 .span9 {
  font-size : 14pt;
}
#ve7029 .span196 {
  font-weight : bold;
}
#ve7029 .span197 {
  font-size : 10pt;
}
#ve7029 .span198 {
  font-size : 10pt;
}
#ve7029 .span199 {
  font-size : 10pt;
}
#ve7103 .ReportElementContainer {
  padding : 2px;
}
#ve7041 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7101 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve1886 .span79 {
  color : #4cc3c7;
}
#ve6582 .Container {
  border-color : #FFFFFF;
  border-width : 0px;
}
#ve1886 .span78 {
  font-size : 18pt;
}
#ve7029 .ReportElementContainer {
  padding : 0px;
}
#ve6598 .TipText {
  font-size : 11pt;
}
#ve1886 .span85 {
  color : #3498db;
}
#ve6648 .ReportElementContainer {
  padding : 2px;
}
#ve7016 .tableColumnbi1122 {
  fill-color : #579CD5;
}
#ve7115 .span269 {
  font-weight : bold;
}
#ve6981 .Pie {
  donut : false;
}
#ve7115 .span268 {
  color : #082948;
}
#ve1886 .span82 {
  font-weight : bold;
}
#ve6947 .styleForTitle_span24 {
  color : #082948;
  font-weight : bold;
}
#ve1886 .span81 {
  font-size : 12pt;
}
#ve1886 .span84 {
  font-style : italic;
}
#ve1886 .span83 {
  color : #3498db;
}
#ve1886 .span80 {
  color : #082948;
}
#ve6574 .span100 {
  font-weight : bold;
}
#ve6700 .TipText {
  font-size : 11pt;
}
#ve6622 .ReportElementContainer {
  padding : 0px;
}
#ve7037 .LegendFill {
  frame-border : false;
}
#ve7176 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve7199 .ReportElementContainer {
  padding : 8px;
}
#ve6526 .GraphSkin {
  data-skin : PRESSED;
}
#ve6985 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve1886 .span8 {
  font-size : 18pt;
}
#ve7115 .span273 {
  font-style : italic;
}
#ve7115 .span272 {
  font-weight : bold;
}
#ve7217 .ReportElementContainer {
  padding : 0px;
}
#ve7115 .span271 {
  font-size : 14pt;
}
#ve7115 .span270 {
  font-style : italic;
}
#ve6598 .styleForTitle_paragraph23 {
  text-align : center;
}
#ve7364 .Container {
  transparency : 1;
  background-color : #FFFFFF;
}
#ve6561 .styleForTitle_paragraph1 {
  text-align : center;
}
#ve6582 .ReportElementContainer {
  padding : 6px;
}
#ve1886 .span20 {
  font-size : 12pt;
}
#ve6947 .Container {
  transparency : 0;
  background-color : #FEE881;
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve1886 .span22 {
  font-size : 12pt;
}
#ve1886 .span21 {
  color : #082948;
}
#ve6492 .tableColumnbi5378 {
  fill-color : #579CD5;
}
#ve6700 .TipFill {
  fill-color : #FCDD7C;
}
#ve6507 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6700 .ReportElementContainer {
  padding : 0px;
}
#ve1886 .span28 {
  color : #3498db;
}
#ve1886 .span27 {
  font-size : 12pt;
}
#ve6992 .ReportElementContainer {
  padding : 0px;
}
#ve6968 .ReportElementContainer {
  padding : 0px;
}
#ve1886 .span29 {
  font-size : 12pt;
}
#ve1886 .span26 {
  font-style : italic;
}
#ve1886 .span25 {
  color : #3498db;
}
#ve1886 .span31 {
  color : #f172ac;
}
#ve1886 .span30 {
  font-size : 18pt;
}
#ve1886 .span33 {
  color : #082948;
}
#ve6598 .TipFill {
  fill-color : #FCDD7C;
}
#ve1886 .span32 {
  font-size : 16pt;
}
#ve6962 .TipText {
  font-size : 11pt;
}
#ve1886 .span39 {
  font-size : 12pt;
}
#ve1886 .span38 {
  font-size : 12pt;
}
#ve1886 .span35 {
  font-size : 12pt;
}
#ve1886 .span34 {
  color : #082948;
}
#ve6985 .ReportElementContainer {
  padding : 0px;
}
#ve1886 .span37 {
  font-size : 12pt;
}
#ve1886 .span36 {
  font-weight : bold;
}
#ve1886 .span42 {
  font-style : italic;
}
#ve1886 .span41 {
  font-size : 12pt;
}
#ve1886 .span44 {
  font-size : 12pt;
}
#ve1886 .span43 {
  color : #3498db;
}
#ve6526 .GraphDataStyle1 {
  fill-color : #E89B25;
}
#ve6627 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6530 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6598 .GraphDataStyleDefault {
  text-color : #3D4550;
  fill-color : #C7E3F9;
  line-color : #3D4550;
  marker-color : #3D4550;
}
#ve6981 .TipText {
  font-size : 8pt;
}
#ve1886 .span40 {
  color : #3498db;
}
#ve6561 .Table {
  alt-row-color : #FEE881;
  color : #082948;
  vertical-line-style : none;
  horizontal-line-style : solid;
  font-size : 12pt;
  row-color : #FEE881;
}
#ve7016 .ReportElementContainer {
  padding : 0px;
}
#ve6492 .styleForTitle_span24 {
  color : #082948;
  font-weight : bold;
}
#ve6705 .span244 {
  font-size : 10pt;
}
#ve7180 .ReportElementContainer {
  padding : 0px;
}
#ve2081 .ReportElementContainer {
  padding : 0px;
}
#ve6665 .ReportElementContainer {
  padding : 4px;
}
#ve1886 .span49 {
  font-size : 12pt;
}
#ve6660 .ReportElementContainer {
  padding : 6px;
}
#ve1886 .span46 {
  color : #579cd5;
}
#ve1886 .span45 {
  font-size : 18pt;
}
#ve1886 .span48 {
  font-size : 14pt;
}
#ve6548 .GraphDataStyleDefault {
  fill-color : #C7E3F9;
}
#ve1886 .span47 {
  color : #082948;
}
#ve1886 .span55 {
  font-size : 12pt;
}
#ve6685 .styleForTitle_span2 {
  color : #082948;
  font-weight : bold;
  font-size : 12pt;
}
#ve6622 .span135 {
  color : #082948;
}
#ve6622 .span134 {
  font-size : 10pt;
}
#ve1886 .span51 {
  font-size : 12pt;
}
#ve6622 .span136 {
  color : #3498db;
}
#ve1886 .span50 {
  font-weight : bold;
}
#ve6622 .span131 {
  font-size : 14pt;
}
#ve6622 .span133 {
  font-weight : bold;
}
#ve6622 .span132 {
  color : #082948;
}
#ve7095 .GraphSkin {
  data-skin : PRESSED;
}
#ve6614 .ReportElementContainer {
  padding : 0px;
}
#ve7003 .styleForTitle_span6 {
  color : #082948;
  font-weight : bold;
}
#ve7016 .Table {
  alt-row-color : #FEE881;
  color : #082948;
  vertical-line-style : none;
  horizontal-line-style : solid;
  font-size : 12pt;
  row-color : #FEE881;
}
#ve6614 .styleForTitle_span16 {
  color : #042c49;
  font-weight : bold;
  font-size : 12pt;
}
#ve1886 .span57 {
  font-size : 12pt;
}
#ve1886 .span56 {
  color : #3498db;
}
#ve6507 .GraphDataStyle2 {
  fill-color : #579CD5;
}
#ve1886 .span59 {
  color : #3498db;
}
#ve6507 .GraphDataStyle1 {
  fill-color : #C7E3F9;
}
#ve1886 .span58 {
  font-style : italic;
}
#ve6719 .span252 {
  font-size : 12pt;
}
#ve6981 .GraphDataStyle1 {
  fill-color : #E89B25;
}
#ve7037 .GraphSkin {
  data-skin : PRESSED;
}
#ve6719 .span253 {
  color : #082948;
}
#ve6598 .GraphSkin {
  data-skin : NONE;
}
#ve6719 .span254 {
  color : #082948;
}
#ve6714 .Container {
  transparency : 0.8;
  background-color : #FBCE2A;
}
#ve6719 .span255 {
  font-size : 12pt;
}
#ve6719 .span250 {
  color : #082948;
}
#ve6719 .span251 {
  font-size : 12pt;
}
#ve6640 .GraphDataStyleDefault {
  fill-color : #E89B25;
}
#ve6582 .GraphSkin {
  data-skin : PRESSED;
}
#ve7003 .TipText {
  font-size : 11pt;
}
#ve6719 .span249 {
  font-weight : bold;
}
#ve7155 .styleForTitle_paragraph9 {
  text-align : center;
}
#ve7016 .styleForTitle_paragraph1 {
  text-align : center;
}
#ve6719 .span245 {
  color : #4cc3c7;
}
#ve6719 .span246 {
  font-size : 24pt;
}
#ve6719 .span247 {
  color : #082948;
}
#ve6719 .span248 {
  font-size : 16pt;
}
#ve6700 .styleForTitle_paragraph3 {
  text-align : center;
}
#ve6973 .span168 {
  font-size : 10pt;
}
#ve6481 .span298 {
  font-size : 16pt;
}
#ve6481 .span299 {
  font-weight : bold;
}
#ve6582 .Pie {
  donut : false;
}
#ve6640 .Pie {
  donut : false;
}
#ve6481 .span296 {
  font-size : 24pt;
}
#ve6481 .span297 {
  color : #f172ac;
}
#ve7233 .ReportElementContainer {
  padding : 4px;
}
#ve6569 .span125 {
  color : #082948;
}
#ve6598 .GridLines {
  line-color : #CCA937;
}
#ve6569 .span126 {
  font-weight : bold;
}
#ve6569 .span127 {
  font-size : 10pt;
}
#ve6569 .span128 {
  color : #082948;
}
#ve6632 .span102 {
  font-weight : bold;
}
#ve6569 .span129 {
  color : #3498db;
}
#ve6947 .ReportElementContainer {
  padding : 6px;
}
#ve6614 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve6973 .span194 {
  font-weight : bold;
}
#ve6962 .LegendFill {
  transparency : 1;
}
#ve7162 .ReportElementContainer {
  padding : 8px;
}
#ve6973 .span195 {
  font-size : 10pt;
}
#ve7095 .GraphDataStyleDefault {
  fill-color : #E89B25;
}
#ve6968 .span165 {
  color : #082948;
}
#ve6968 .span164 {
  font-size : 10pt;
}
#ve7095 .LegendFill {
  frame-border : false;
}
#ve1886 .ReportElementContainer {
  padding : 10px;
}
#ve6968 .span166 {
  color : #3498db;
}
#ve6603 .span280 {
  font-size : 24pt;
}
#ve6603 .span282 {
  font-size : 26pt;
}
#ve6603 .span281 {
  color : #579cd5;
}
#ve6526 .Container {
  border-color : #FFFFFF;
  border-width : 0px;
}
#ve6561 .styleForTitle_span1 {
  color : #082948;
  font-weight : bold;
}
#ve6582 .GraphDataStyleDefault {
  fill-color : #E89B25;
}
#ve6614 .styleForTitle_paragraph24 {
  text-align : center;
}
#ve2091 .span19 {
  font-weight : bold;
}
#ve6603 .span287 {
  font-size : 12pt;
}
#ve6642 .ReportElementContainer {
  padding : 18px;
}
#ve6588 .ReportElementContainer {
  padding : 8px;
}
#ve2091 .span18 {
  color : #082948;
}
#ve7099 .ReportElementContainer {
  padding : 0px;
}
#ve6603 .span284 {
  font-size : 16pt;
}
#ve6603 .span283 {
  color : #4cc3c7;
}
#ve6603 .span286 {
  font-weight : bold;
}
#ve6603 .span285 {
  color : #082948;
}
#ve6968 .span161 {
  font-size : 14pt;
}
#ve6968 .span163 {
  font-weight : bold;
}
#ve6981 .ReportElementContainer {
  padding : 6px;
}
#ve6968 .span162 {
  color : #082948;
}
#ve6561 .Header {
  background-color : #FEE881;
}
#ve7058 .ReportElementContainer {
  padding : 0px;
}
#ve7003 .TipFill {
  fill-color : #FCDD7C;
}
#ve7069 .Header {
  background-color : #FEE881;
}
#ve6640 .Container {
  border-color : #FFFFFF;
  border-width : 0px;
}
#ve6627 .span130 {
  color : #082948;
}
#ve6518 .span101 {
  font-weight : bold;
}
#ve2091 .span23 {
  font-weight : bold;
}
#ve6655 .ReportElementContainer {
  padding : 0px;
}
#ve7140 .TipText {
  font-size : 11pt;
}
#ve6492 .Table {
  alt-row-color : #FEE881;
  color : #082948;
  vertical-line-style : none;
  horizontal-line-style : solid;
  font-size : 12pt;
  row-color : #FEE881;
}
#ve7037 .ReportElementContainer {
  padding : 6px;
}
#ve7016 .Header {
  background-color : #FEE881;
}
#ve6582 .TipText {
  font-size : 8pt;
}
#ve7160 .span244 {
  font-size : 10pt;
}
#ve6598 .LegendFill {
  fill-color : #FEE881;
}
#ve6492 .ReportElementContainer {
  padding : 6px;
}
#ve6569 .ReportElementContainer {
  padding : 0px;
}
#ve6513 .ReportElementContainer {
  padding : 0px;
}
#ve7095 .TipText {
  font-size : 8pt;
}
#ve6492 .Container {
  transparency : 0;
  background-color : #FEE881;
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7003 .GraphSkin {
  data-skin : FLAT;
}
#ve7077 .ReportElementContainer {
  padding : 0px;
}
#ve7095 .ReportElementContainer {
  padding : 6px;
}
#ve6707 .ReportElementContainer {
  padding : 0px;
}
#ve6962 .ReportElementContainer {
  padding : 6px;
}
#ve5792 .GraphDataStyle1 {
  fill-color : #C7E3F9;
}
#ve5792 .GraphDataStyle2 {
  fill-color : #579CD5;
}
#ve6962 .styleForTitle_paragraph5 {
  text-align : center;
}
#ve6644 .Container {
  border-color : #FCDD7C;
  border-width : 1px;
}
#ve7115 .paragraph30 {
  text-align : right;
}
#ve6526 .Pie {
  donut : false;
}
#ve7110 .ReportElementContainer {
  padding : 0px;
}
#ve6962 .GraphDataStyle1 {
  fill-color : #C7E3F9;
}
#ve6627 .span140 {
  font-size : 10pt;
}
#ve6962 .GraphDataStyle2 {
  fill-color : #579CD5;
}
#ve7016 .styleForTitle_span1 {
  color : #082948;
  font-weight : bold;
}
#ve6655 .span242 {
  color : #082948;
}
#ve6655 .span241 {
  font-weight : bold;
}
#ve6526 .TipText {
  font-size : 8pt;
}
#ve6655 .span240 {
  font-size : 28pt;
}
#ve6627 .span139 {
  color : #082948;
}
#ve6627 .span137 {
  font-size : 10pt;
}
#ve6627 .span138 {
  font-weight : bold;
}
