

#ve728 .LegendFill {
  fill-color: #180E2F;
}
#ve728 .GraphDataStyleDefault {
  text-color: #5A6CE7;
  fill-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
#ve559 .LegendFill {
  fill-color: #180E2F;
}
.Report {
  background-color: #180E2F;
}
#ve486 .TwoColorRamp {
  fill-gradient-end-color: #E9269C;
}
#ve179 .GraphDataStyle1 {
  text-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
#ve257 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve669 .hierarchybi673 {
  width: 194px;
}
.GraphDataStyleDefault {
  text-color: #5a6ce7;
  fill-color: #224a7f;
  line-color: #5a6ce7;
  marker-color: #5a6ce7;
}
#ve787 .GraphDataStyleDefault {
  fill-color: #5A6CE7;
}
#ve621 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve66 .Header {
  background-color: #180E2F;
}
#ve669 .styleForTitle_span1 {
  color: #ffffff;
}
#ve179 .LegendFill {
  fill-color: #180E2F;
}
#ve621 .styleForTitle_span2 {
  color: #ffffff;
}
#ve787 .GraphDataStyle1 {
  fill-color: #5A6CE7;
}
.TwoColorAltRamp {
  fill-gradient-start-color: #5a6ce7;
  fill-gradient-end-color: #E9269C;
}
#ve440 .GraphDataStyle2 {
  text-color: #5A6CE7;
  fill-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
#ve669 .MeasureHeader {
  background-color: #180E2F;
}
#ve440 .GraphDataStyle1 {
  text-color: #E9269C;
  fill-color: #E9269C;
  line-color: #E9269C;
  marker-color: #E9269C;
}
#ve373 .GraphDataStyleDefault {
  text-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
#ve801 .GraphDataStyle1 {
  fill-color: #5A6CE7;
}
#ve173 .LegendFill {
  fill-color: #180E2F;
}
#ve728 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve669 .measurebi699 {
  fill-color: #5A6CE7;
}
.GraphDataStyle3 {
  text-color: #e9269c;
  line-color: #e9269c;
  marker-color: #e9269c;
}
#ve66 .tableColumnbi122 {
  width: 181px;
}
#ve669 .styleForTitle_paragraph5 {
  text-align: center;
}
.GraphDataStyle4 {
  text-color: #224a7f;
  fill-color: #A82D77;
  line-color: #224a7f;
  marker-color: #224a7f;
}
#ve621 .GraphDataStyle1 {
  text-color: #33a3ff;
  line-color: #33a3ff;
  marker-color: #33a3ff;
}
.GraphDataStyle6 {
  fill-color: #5a6ce7;
}
#ve943 .GraphDataStyle1 {
  text-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
.GraphDataStyle1 {
  text-color: #5a6ce7;
  fill-color: #224a7f;
  line-color: #5a6ce7;
  marker-color: #5a6ce7;
}
#ve257 .GraphDataStyleDefault {
  fill-color: #5A6CE7;
}
.GraphDataStyle2 {
  text-color: #6a2c8a;
  fill-color: #6a2c8a;
  line-color: #6a2c8a;
  marker-color: #6a2c8a;
}
#ve313 .GraphDataStyleDefault {
  fill-color: #5A6CE7;
}
#ve943 .GraphDataStyle2 {
  fill-color: #5A6CE7;
}
#ve621 .GraphDataStyle2 {
  text-color: #E9269C;
  line-color: #E9269C;
  marker-color: #E9269C;
}
#ve179 .GraphDataStyleDefault {
  text-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
#ve559 .GraphDataStyle1 {
  marker-symbol: diamondfilled;
}
#ve559 .GraphDataStyle2 {
  marker-symbol: circlefilled;
}
#ve559 .GraphDataStyle3 {
  marker-symbol: squarefilled;
}
#ve559 .GraphDataStyle4 {
  marker-symbol: trianglefilled;
}
#ve559 .GraphDataStyle5 {
  marker-symbol: starfilled;
}
#ve173 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve559 .GraphDataStyle6 {
  marker-symbol: triangledownfilled;
}
#ve621 .LegendFill {
  fill-color: #180E2F;
}
#ve559 .GraphDataStyle7 {
  marker-symbol: homedownfilled;
}
#ve669 .ColumnHeader {
  background-color: #180E2F;
}
#ve486 .LegendFill {
  fill-color: #180E2F;
}
#ve313 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve728 .GraphDataStyle1 {
  text-color: #5A6CE7;
  fill-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
.GraphDataStyle7 {
  fill-color: #71ebbf;
}
.GraphDataStyle8 {
  text-color: #F4D3D4;
  fill-color: #7dc3fc;
  line-color: #F4D3D4;
  marker-color: #F4D3D4;
}
#ve559 .GraphDataStyleDefault {
  marker-symbol: diamondfilled;
}
#ve66 .tableColumnbi112 {
  width: 122px;
}
#ve728 .GraphDataStyle3 {
  text-color: #41479a;
  fill-color: #41479A;
  line-color: #41479a;
  marker-color: #41479a;
}
#ve728 .GraphDataStyle2 {
  text-color: #6A2C8A;
  fill-color: #6A2C8A;
  line-color: #6A2C8A;
  marker-color: #6A2C8A;
}
#ve669 .RowHeader {
  background-color: #180E2F;
}
#ve66 .tableColumnbi99 {
  width: 167px;
}
#ve373 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve440 .LegendFill {
  fill-color: #180E2F;
}
#ve173 .GraphSkin {
  data-skin: FLAT;
}
#ve801 .GraphDataStyleDefault {
  fill-color: #5A6CE7;
}
#ve66 .tableColumnbi118 {
  width: 152px;
}
#ve440 .GraphDataStyleDefault {
  text-color: #E9269C;
  fill-color: #E9269C;
  line-color: #E9269C;
  marker-color: #E9269C;
}
#ve440 .styleForTitle_paragraph8 {
  text-align: center;
}
#ve943 .GraphDataStyleDefault {
  text-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
#ve257 .GraphDataStyle2 {
  fill-color: #E9269C;
}
#ve66 .tableColumnbi113 {
  width: 173px;
}
#ve257 .GraphDataStyle1 {
  fill-color: #5A6CE7;
}
#ve669 .Table {
  alt-row-color: #231542;
  row-color: #180E2F;
}
#ve257 .LegendFill {
  fill-color: #180E2F;
}
.TwoColorRamp {
  fill-gradient-start-color: #5a6ce7;
  fill-gradient-end-color: #E9269C;
}
:root {
  --custom-color-1: var(--report-neutral-color);
}
#ve373 .GraphDataStyle1 {
  text-color: #5A6CE7;
  line-color: #5A6CE7;
  marker-color: #5A6CE7;
}
#ve66 .Table {
  alt-row-color: #231542;
  row-color: #180E2F;
}
#ve621 .GraphDataStyleDefault {
  text-color: #33a3ff;
  line-color: #33a3ff;
  marker-color: #33a3ff;
}
#ve313 .GraphDataStyle1 {
  fill-color: #5A6CE7;
}

			