#ve343 .span1 {
  font-size : 10pt;
}
#ve343 .span3 {
  font-size : 10pt;
}
#ve343 .span2 {
  color : #ffffff;
}
#ve5222 .ReportElementContainer {
  padding : 5px;
}
#cd794 .If {
  color : #DD5757;
}
#ve343 .span4 {
  color : #ffffff;
}
#ve5137 .paragraph2 {
  text-align : right;
}
#cd5160 .If {
  color : #15B57B;
}
#ve343 .paragraph2 {
  text-align : right;
}
#ve4266 .Table {
  padding-top : 16px;
  vertical-line-style : none;
  horizontal-line-style : none;
  wrap-text : normal;
}
#ve11896 .firstColumn {
  width : 200px;
}
#ve11896 .Table {
  padding-top : 16px;
  vertical-line-style : none;
  horizontal-line-style : none;
  wrap-text : normal;
}
#ve11898 .Table {
  padding-top : 16px;
  vertical-line-style : none;
  horizontal-line-style : none;
  wrap-text : normal;
}
#ve343 .paragraph1 {
  text-align : right;
}
#ve5137 .paragraph1 {
  text-align : right;
}
#ve452 .ReportElementContainer {
  padding : 0px;
}
#ve2457 .styleForTitle_span21 {
  font-weight : bold;
}
#ve246 .styleForTitle_paragraph5 {
  text-align : center;
}
#ve4353 .TwoColorRamp1 {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#ve332 .ReportElementContainer {
  padding : 5px;
}
#ve4474 .paragraph1 {
  white-space : pre-line;
}
#ve185 .ReportElementContainer {
  padding : 5px;
}
#ve4270 .firstColumn {
  width : 200px;
}
#ve208 .GraphSkin {
  data-skin : CRISP;
}
#ve5168 .styleForTitle_paragraph2 {
  text-align : center;
}
#ve5222 .styleForTitle_span15 {
  font-weight : bold;
}
#ve16487 .Container {
  transparency : 0.75;
  background-color : #C7E3F9;
  border-color : #B0B7C2;
  border-width : 1px;
}
#ve17373 .ReportElementContainer {
  padding : 8px;
}
#ve2540 .span9 {
  color : #16a085;
}
#ve5205 .ReportElementContainer {
  padding : 5px;
}
#ve2540 .span4 {
  font-weight : bold;
}
#ve17288 .ReportElementContainer {
  padding : 8px;
}
#ve2540 .span3 {
  color : #27ae60;
}
#ve2540 .span2 {
  font-weight : bold;
}
#ve5143 .ReportElementContainer {
  padding : 5px;
}
#ve2540 .span1 {
  font-size : 12pt;
}
#ve2540 .span8 {
  font-size : 12pt;
}
#ve2540 .span7 {
  color : #16a085;
}
#ve2540 .span6 {
  font-weight : bold;
}
#ve2540 .span5 {
  font-size : 16pt;
}
#ve2442 .styleForTitle_span20 {
  font-weight : bold;
}
#ve253 .GraphDataStyleDefault {
  text-color : #FCDD7C;
  fill-color : #FCDD7C;
  line-color : #FCDD7C;
  marker-color : #FCDD7C;
}
#ve5145 .Container {
  transparency : 0;
  background-color : #2196F3;
}
#ve5222 .styleForTitle_paragraph9 {
  text-align : center;
}
#ve208 .styleForTitle_span4 {
  font-weight : bold;
}
#ve2442 .ReportElementContainer {
  padding : 5px;
}
#ve6232 .ReportElementContainer {
  padding : 0px;
}
#ve2540 .span10 {
  font-weight : bold;
}
#ve17321 .ReportElementContainer {
  padding : 8px;
}
#cd5784 .If {
  color : #FCDD7C;
}
#ve1482 .ReportElementContainer {
  padding : 5px;
}
#ve1478 .ReportElementContainer {
  padding : 5px;
}
#ve3306 .styleForTitle_paragraph6 {
  text-align : center;
}
#ve161 .ReportElementContainer {
  padding : 10px;
}
#ve379 .styleForTitle_span12 {
  font-weight : bold;
}
#ve1472 .span4 {
  color : #ffffff;
}
#ve494 .Pie {
  ring-size : 0.37;
}
#ve1472 .span1 {
  font-weight : bold;
}
#ve1472 .span2 {
  font-size : 14pt;
}
#ve4480 .paragraph1 {
  font-size : 13.5pt;
}
#ve1472 .span3 {
  color : #ffffff;
}
#cd3489 .If {
  font-family : AvenirNext;
  font-weight : bold;
  font-size : 16px;
}
#ve12727 .span1 {
  color : #33A3FF;
  font-family : AvenirNext;
  font-weight : bold;
  font-size : 60pt;
}
#ve222 .styleForTitle_span8 {
  font-weight : bold;
}
#ve5137 .span1 {
  font-size : 10pt;
}
#ve161 .GraphSkin {
  data-skin : CRISP;
}
#ve147 .styleForTitle_span2 {
  font-weight : bold;
}
#ve17297 .ReportElementContainer {
  padding : 8px;
}
#cd5796 .If {
  color : #16976D;
}
#ve11898 .firstColumn {
  width : 200px;
}
#ve5132 .span2 {
  font-size : 14pt;
}
#ve5137 .span4 {
  color : #ffffff;
}
#ve5132 .span1 {
  font-weight : bold;
}
#ve5137 .span3 {
  font-size : 10pt;
}
#ve5132 .span4 {
  color : #ffffff;
}
#ve5137 .span2 {
  color : #ffffff;
}
#ve5132 .span3 {
  color : #ffffff;
}
#ve253 .TwoColorRamp1 {
  fill-gradient-start-color : #C7E3F9;
}
#ve17382 .ReportElementContainer {
  padding : 8px;
}
#ve17347 .ReportElementContainer {
  padding : 8px;
}
#ve16487 .styleForTitle_span17 {
  font-weight : bold;
}
#cd5166 .If {
  color : #DD5757;
}
#ve161 .styleForTitle_span16 {
  font-weight : bold;
}
#ve185 .styleForTitle_span3 {
  font-weight : bold;
}
#ve161 .styleForTitle_span19 {
  font-weight : bold;
  font-size : 10.6667px;
}
#cd2494 .If {
  color : #15B57B;
}
#cd5786 .If {
  color : #FFAE70;
}
#ve398 .GraphSkin {
  data-skin : CRISP;
}
#ve2638 .ReportElementContainer {
  padding : 5px;
}
#cd5804 .If {
  color : #DD5757;
}
#cd5792 .If {
  color : #FFAE70;
}
#ve802 .styleForTitle_paragraph3 {
  text-align : center;
}
#ve17364 .ReportElementContainer {
  padding : 8px;
}
#ve4353 .TwoColorRamp {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#ve4571 .TwoColorRamp {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#ve17329 .ReportElementContainer {
  padding : 8px;
}
#cd3289 .If {
  color : #FFCC32;
}
#ve147 .LegendFill {
  transparency : 1;
}
#ve4266 .firstColumn {
  width : 200px;
}
#ve17338 .ReportElementContainer {
  padding : 8px;
}
#ve16487 .styleForTitle_paragraph10 {
  text-align : center;
}
#cd5162 .If {
  color : #FFCC32;
}
#ve5147 .ReportElementContainer {
  padding : 5px;
}
#ve4258 .paragraph1 {
  white-space : pre-line;
}
#ve494 .GraphDataStyle3 {
  fill-color : #ACB0FF;
}
#ve1902 .ReportElementContainer {
  padding : 5px;
}
#cd9260 .If {
  color : #FFCC32;
}
#ve246 .styleForTitle_span9 {
  font-weight : bold;
}
#ve17313 .ReportElementContainer {
  padding : 8px;
}
#ve343 .ReportElementContainer {
  padding : 5px;
}
#ve16489 .span3 {
  font-weight : bold;
}
#ve16489 .span2 {
  font-weight : bold;
}
#ve16489 .span1 {
  font-weight : bold;
}
#ve1472 .ReportElementContainer {
  padding : 5px;
}
#ve3306 .ReportElementContainer {
  padding : 5px;
}
#ve5125 .ReportElementContainer {
  padding : 5px;
}
#ve5141 .Container {
  transparency : 0;
  background-color : #2196F3;
}
#ve5188 .styleForTitle_paragraph7 {
  text-align : center;
}
#ve1478 .paragraph1 {
  text-align : right;
}
#ve1478 .paragraph2 {
  text-align : right;
}
#ve398 .styleForTitle_span13 {
  font-weight : bold;
}
#ve2457 .ReportElementContainer {
  padding : 5px;
}
#ve494 .styleForTitle_span5 {
  font-weight : bold;
}
#ve6242 .ReportElementContainer {
  padding : 0px;
}
#ve332 .Container {
  transparency : 0;
  background-color : #2196F3;
}
#ve12715 .span1 {
  font-weight : bold;
  font-size : 12pt;
}
#cd2500 .If {
  color : #DD5757;
}
#cd5790 .If {
  color : #DD5757;
}
#ve350 .styleForTitle_span11 {
  font-weight : bold;
}
#ve4571 .TwoColorRamp1 {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#ve161 .styleForTitle_span1 {
  font-weight : bold;
}
#cd3491 .If {
  color : #DD5757;
  font-family : AvenirNext;
  font-weight : bold;
  font-size : 16px;
}
#ve11892 .paragraph1 {
  font-size : 13.5pt;
}
#ve17355 .ReportElementContainer {
  padding : 8px;
}
#ve5168 .styleForTitle_span21 {
  font-weight : bold;
}
#ve222 .styleForTitle_paragraph4 {
  text-align : center;
}
#ve6244 .ReportElementContainer {
  padding : 0px;
}
#ve12727 .paragraph1 {
  line-height : 45pt;
}
#ve12727 .paragraph2 {
  line-height : 12pt;
}
#ve253 .TwoColorRamp {
  fill-gradient-start-color : #C7E3F9;
}
#ve253 .GraphDataStyle1 {
  text-color : #FCDD7C;
  fill-color : #FCDD7C;
  line-color : #FCDD7C;
  marker-color : #FCDD7C;
}
#ve2638 .styleForTitle_span18 {
  font-weight : bold;
}
#ve3306 .styleForTitle_span6 {
  font-weight : bold;
}
#ve4264 .paragraph1 {
  font-size : 13.5pt;
}
#ve494 .LegendFill {
  transparency : 1;
}
#ve17305 .ReportElementContainer {
  padding : 8px;
}
#ve350 .ReportElementContainer {
  padding : 5px;
}
#ve4482 .Table {
  padding-top : 16px;
  vertical-line-style : none;
  horizontal-line-style : none;
  wrap-text : normal;
}
#ve4486 .Table {
  padding-top : 16px;
  vertical-line-style : none;
  horizontal-line-style : none;
  wrap-text : normal;
}
#ve5127 .Container {
  transparency : 0;
  background-color : #2196F3;
}
#ve2442 .styleForTitle_paragraph1 {
  text-align : center;
}
#ve379 .Table {
  border-style : solid;
}
#cd5782 .If {
  color : #16976D;
}
#ve246 .ReportElementContainer {
  padding : 5px;
}
#ve11790 .paragraph1 {
  white-space : pre-line;
}
#ve1478 .span1 {
  font-size : 10pt;
}
#ve4482 .firstColumn {
  width : 200px;
}
#ve208 .LegendFill {
  transparency : 1;
}
#ve1478 .span4 {
  color : #ffffff;
}
#ve1478 .span3 {
  font-size : 10pt;
}
#ve1478 .span2 {
  color : #ffffff;
}
#ve4486 .firstColumn {
  width : 200px;
}
#ve398 .GraphDataStyle2 {
  text-color : #B14C51;
  line-color : #B14C51;
  marker-color : #B14C51;
}
#ve147 .ReportElementContainer {
  padding : 5px;
}
#ve1902 .span1 {
  font-size : 12pt;
}
#ve5149 .Container {
  transparency : 0;
  background-color : #2196F3;
}
#ve1902 .span3 {
  font-weight : bold;
}
#ve1902 .span2 {
  font-weight : bold;
}
#cd3293 .If {
  color : #DD5757;
}
#ve5205 .styleForTitle_paragraph8 {
  text-align : center;
}
#ve452 .Container {
  transparency : 0.06;
  background-color : #FFFFFF;
}
#ve17280 .ReportElementContainer {
  padding : 8px;
}
#ve5168 .ReportElementContainer {
  padding : 5px;
}
#ve147 .GraphSkin {
  data-skin : CRISP;
}
#cd5788 .If {
  color : #DD5757;
}
#ve1482 .Container {
  transparency : 0;
  background-color : #2196F3;
}
#cd5806 .If {
  color : #FCDD7C;
}
#ve1902 .span4 {
  font-weight : bold;
}
#ve5205 .styleForTitle_span14 {
  font-weight : bold;
}
#ve11902 .TwoColorRamp1 {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#cd5798 .If {
  color : #16976D;
}
#ve802 .ReportElementContainer {
  padding : 5px;
}
#ve222 .ReportElementContainer {
  padding : 5px;
}
#ve11902 .TwoColorRamp {
  fill-gradient-start-color : #cce8ff;
  fill-gradient-end-color : #33A3FF;
}
#ve4270 .Table {
  padding-top : 16px;
  vertical-line-style : none;
  horizontal-line-style : none;
  wrap-text : normal;
}
#cd5164 .If {
  color : #FF8224;
}
#ve5141 .ReportElementContainer {
  padding : 5px;
}
#ve802 .styleForTitle_span7 {
  font-weight : bold;
}
#ve253 .styleForTitle_span24 {
  font-weight : bold;
}
#ve253 .ReportElementContainer {
  padding : 5px;
}
#cd5794 .If {
  color : #FCDD7C;
}
#ve2457 .styleForTitle_paragraph2 {
  text-align : center;
}
#ve1445 .ReportElementContainer {
  padding : 5px;
}
#ve5132 .ReportElementContainer {
  padding : 5px;
}
#ve5188 .ReportElementContainer {
  padding : 5px;
}
#cd5802 .If {
  color : #FFAE70;
}
#ve1445 .span1 {
  font-weight : bold;
}
#cd3287 .If {
  color : #FF8224;
}
#ve5188 .styleForTitle_span10 {
  font-weight : bold;
}
#ve1445 .span4 {
  color : #ffffff;
}
#ve5137 .ReportElementContainer {
  padding : 5px;
}
#ve1445 .span3 {
  color : #ffffff;
}
#ve1445 .span2 {
  font-size : 14pt;
}
#ve494 .GraphSkin {
  data-skin : CRISP;
}
#ve4482 .CustomStyle1 {
  color : #000000;
  background-color : #99d1ff;
}
#ve4486 .CustomStyle1 {
  color : #000000;
  background-color : #99d1ff;
}
#ve17943 .Table {
  wrap-text : normal;
}
#ve4571 .GraphDataStyleDefault {
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
  marker-color : #33A3FF;
}
#ve4571 .GraphDataStyle1 {
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
  marker-color : #33A3FF;
}
#ve4571 .GraphDataStyle2 {
  fill-color : #929292;
}
#ve11896 .CustomStyle1 {
  color : #000000;
  background-color : #99d1ff;
}
#ve11898 .CustomStyle1 {
  color : #000000;
  background-color : #99d1ff;
}
#ve17955 .Table {
  wrap-text : normal;
}
#ve11902 .GraphDataStyleDefault {
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
  marker-color : #33A3FF;
}
#ve11902 .GraphDataStyle1 {
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
  marker-color : #33A3FF;
}
#ve11902 .GraphDataStyle2 {
  fill-color : #929292;
}
#ve17963 .Table {
  wrap-text : normal;
}
#ve12722 .span1 {
      font-size : 12pt;
  font-weight : bold;
}
#ve4266 .CustomStyle1 {
  color : #000000;
  background-color : #99d1ff;
}
#ve4270 .CustomStyle1 {
  color : #000000;
  background-color : #99d1ff;
}
#ve17980 .Table {
  wrap-text : normal;
}
#ve4353 .GraphDataStyleDefault {
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
  marker-color : #33A3FF;
}
#ve4353 .GraphDataStyle1 {
  text-color : #33A3FF;
  fill-color : #33A3FF;
  line-color : #33A3FF;
  marker-color : #33A3FF;
}
#ve4353 .GraphDataStyle2 {
  fill-color : #929292;
}
